@import url("./_style.css");
@import url("./_variables.css");
@import url("./_form.css");
@import url("./_list.css");
@import url("./_button.css");
@import url("./_note.css");

html {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--primary-text-size);
}

body {
    max-width: 720px;
    margin: auto;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

i {
    color: var(--primary-icon-color);
}

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}
