form label {
    min-width: 160px;
}

form input, form textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: inherit;
}

form textarea {
    height: 150px;
    resize: none;
}

form i {
    cursor: pointer;
}
